{% extends 'base.html.twig' %}

{% block title %}Accueil - Episciences Manager{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ 'Welcome to Episciences manager'|trans }}</h1>
    </div>

{% endblock %}