{% extends 'base.html.twig' %}

{% block title %}Accueil - Episciences Manager{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur Episciences Manager</h1>
    </div>

{% endblock %}