

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 navbar-custom">
    <div class="container">
        <!-- Logo à gauche -->
        <a class="navbar-brand" href="/">
            <img src="{{ asset('/images/episciences.svg') }}" alt="episciences logo" class="img-fluid me-2"  style="width:100px; height:40px;">
        </a>

        <!-- Toggle Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links (Collapsible) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" id="nav-home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-journal">The Journal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-folder">Folder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-journals">Journal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-website">Website</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="nav-statistics">Statistics</a>
                </li>
            </ul>

            <!-- Login Button (Will move below links on mobile) -->
            <div class="login-btn-container">
                <a class="btn btn-outline-primary custom-btn" href="{{ path('login') }}" role="button">
                    Login
                </a>
            </div>
        </div>
    </div>
</nav>