<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>



        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
            {{ encore_entry_link_tags('navbar') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
        {% include '/Partials/_navbar.html.twig' %}
    {% endblock %}
    {% block body %}
        <div class="flex h-screen">
            <div class="m-auto">
                <p class="text-2xl">{{ 'Welcome to Episciences manager'|trans }}</p>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {% include '/Partials/_footer.html.twig' %}
    {% endblock %}
    </body>

</html>
